header {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100vh;
  max-height: 900px;
  background-color: #8b8b8b;
  background: url('https://i.imgur.com/ESSxPY7.png');
  background-size: cover;
  background-position: center;
  object-fit: cover;
  border-bottom: 1.5px solid black;  padding-top: 75px;
}

.header-content {
  color: white;
  z-index: 100;
  position: relative;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.header-text {
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
  text-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.header-buttons {
  display: flex;
  gap: 30px;
}

.header-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #000000ad;
  border: 1px solid black;
  color: white;
  transition: all 0.1s ease-in-out;
}

.header-buttons button:hover {
  background-color: #000000;
}

#dark-gradient {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  max-height: 900px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0)
  );
}



@media only screen and (max-width: 800px) {
  .header-content {
    display: block;
    margin-top: 10%;
  }

  .header-text{
    transform: none;
  }

  .header-text {
    width: 100%;
    gap: 30px;
  }

  .header-buttons {
    justify-content: space-between;
  }

  #dark-gradient {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0)
    );
  }

}