#nav-btn-black {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  /* height: 30px; */
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  gap: 5px;
  padding: 10px;
  align-items: center;
  font-size: large;
}

#nav-btn-black img {
  height: 32px;
}

nav {
  width: 100%;
  height: 75px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: all 0.2s ease-in-out;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  display: flex;
  gap: 100px;
}

.navbar-shadow {
  background-color: rgba(237, 237, 237, 0.9);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.navbar-shadow-top {
  background-color: rgba(237, 237, 237, 0.2);
}

.navbar-shadow-top [role="campaigns"] {
  color: white;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.navbar-shadow-top [role="campaigns"] :hover {
    color: rgb(212, 212, 212);
    text-shadow: 2px 2px 10px rgb(59, 59, 59);
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding-bottom: 5px;
  font-size: 1.3rem;
  font-weight: 500;
}

#name-and-icon-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

#img {
  background-color: black;
  height: 50px;
  width: 50px;
  overflow: hidden;
  border: 3px solid black;
  border-radius: 5px;
}

.img-notif {
  position: absolute;
  bottom: -5px;
  right: -5px;
}

#img img {
  height: 100%;
  width: 100%;
  transform: scale(1.3);
}

#name {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  padding: 5px;
  color: rgb(230, 230, 230);
  border-radius: 10px;
  /* font-weight: bold; */
  /* font-size: large; */
}

#language-toggle {
  display: flex;
  padding: 5px;
  gap: 4px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 1px solid black;
  box-sizing: border-box;
  height: 32px;
}

#language-flag {
  border-radius: 10px;
  overflow: hidden;
  height: 20px;
  display: flex;
  align-items: center;
}

#language-flag img {
  height: 32px;
}

#language-toggle-arrow {
  width: 20px;
  height: 20px;
  filter: brightness(0.5) invert(1);
}

.language-changer {
  position: relative;
}

.language-menu {
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 66px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 5000;
  font-size: larger;
}

.language-menu ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
}

.language-menu li {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: space-evenly;
  border: none;
  height: 45px;
  cursor: pointer;
}

.language-menu li:hover {
  background-color: #f1f1f1;
}

.navbar-user-dropdown li.divider {
  border-top: 1px solid #ccc;
  padding: 0;
}

.language-menu {
  text-transform: uppercase
}

@media only screen and (max-width: 800px) {
  nav {
    font-size: 12px;
  }

  #nav-btn-black a {
    font-size: small !important;
  }

  nav ul li {
    font-size: medium;
}

  nav #nav-btn-black {
    padding: 0 10px;
  }

  nav li[role="home"] {
    display: none
  }

  nav li[role="calculator"] {
    display: none;
  }

  nav ul {
    gap: 20px;
  }

  nav #language-toggle {
    display: none;
  }
  
}